USE [master]
GO
/****** Object:  Database [TOCC]    Script Date: 2021/7/18 下午 01:55:15 ******/
CREATE DATABASE [TOCC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TOCC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TOCC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TOCC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TOCC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TOCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TOCC]
GO
/****** Object:  Table [dbo].[EmployeeToccTable]    Script Date: 2021/7/18 下午 01:55:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeToccTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Departmen] [nvarchar](50) NOT NULL,
	[EmployeeNumber] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Time] [nvarchar](max) NOT NULL,
	[Crowd] [nvarchar](50) NOT NULL,
	[Place] [nvarchar](50) NOT NULL,
	[Temperature] [nvarchar](50) NOT NULL,
	[Symptom] [varchar](max) NOT NULL,
 CONSTRAINT [PK_EmployeeToccTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
